@import url("layout.css");
li:nth-child(2){
	border-bottom:5px solid #f398a5;
}
li:nth-child(2) p{
	color:#f398a5;
}

section{
	display:flex;
	flex-flow:column;
	align-items:center;
	width:100vw;
	height:auto;
}
.sectionTitle{
	order:-1;
	display: flex;
	align-items: center;
	justify-content: center;
	width: 100vw;
	height: 80px;
}
.sectionTitle hr{
	display:inline-block;
	border: 1px solid #ccc;
	max-width:150px;
	width:30%;
	margin:0.3em 0px;
}
.sectionTitle span{
	font-family: "777Kidbutterfly", sans-serif;
	font-size: 2.25em;
	margin:0px 20px;
}
.list{
	display:flex;
	width:90%;
	height:auto;
	flex-flow:row wrap;
}
.thumbnail{
	display:flex;
	max-width:337.5px;
	max-height:337.5px;
	width:22.5vw;
	height:22.5vw;
	align-items: center;
	justify-content: center;
}
.thumbnail img{
	max-width:300px;
	width:88.8888888%;
}

//animation
@-webkit-keyframes slideInUp{
	from{
		-webkit-transform: translate(0, 50);
		transform: translate(0, 50);
		opacity:0;
	}
	to {
		-webkit-transform: translate(0, 0);
		transform: translate(0, 0);
		opacity:1;
	}
}
@keyframes slideInUp{
	from{
		-webkit-transform: translate(0, 50);
		transform: translate(0, 50);
		opacity:0;
	}
	to {
		-webkit-transform: translate(0, 0);
		transform: translate(0, 0);
		opacity:1;
	}
}
.slideInUp{
	-webkit-animation-name: slideInUp;
	animation-name: slideInUp;
}

@media all and (max-width:768px){
	.sectionTitle hr{
		max-width:100px;
		width:20%;
	}
	.list{
		width:96.428571%;
	}
	.thumbnail{
		width:32.142857vw;
		height:32.142857vw;
	}
}
@media all and (max-width:425px){
	.sectionTitle{
		height:50px;
	}
	.list{
		width:96%;
	}
	.thumbnail{
		width:48vw;
		height:48vw;
	}
	.thumbnail img{
		width:91.666666%;
	}
}
